@{
    ViewData["Title"] = "Drum Not Dum";
}

<div class="text-center">
    <br />
    <h1 style="color: white;" class="display-4">Alec Peal: World Class Drummer</h1>
    <br />
    <img src="~/hype.jpg" style="max-width: 50%; height: auto; display: block; margin: auto;" />
    <br />
    <p style="font-size: medium; color: white;">
        I have been a drummer for 12 years. I have had the opportunity to have a lot of success at competions
        which has only fueled my passion for this hobby. I won multiple drumline contests with my high school drumline,
        Including the illustrious Lonestar Drumline Constest in 2017. In 2017 I was also a member of the Texas
        5A State Champion Marching Band. Following High School, I began attending Brigham Young University where I 
        was a member of the 2019 Drumline. I also enjoy concert percussion, and I have been a member of several 
        award-winning ensembles.</p>
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Fhp_pyUOllI?si=gl0C-1jhXdrZhMXf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    <br />
    <br />
    <p style="font-size: medium; color: white;">
        I also have had the pleasure to teach music in multiple scenarios. I spent most of 2018 teaching beginner piano
        lessons. I have worked with choirs on their rhythmic integrity. Most recently I was employed by Bingham High School
        in Sout Jordan, Utah as an Assistant Drumline Instructor. My teaching experience has helped me learn how to best
        cater to the needs of my students. My goal is to help my student progress at their desired rate while having a lot
        of fun!</p>
    <br />
    <img src="~/alec.jpg" style="max-width: 50%; height: auto; display: block; margin: auto;" />
    <p style="font-size: medium; color: white;">
        Discover the rhythmic world of drumming with my drum lessons! Whether you're a beginner eager to
        learn the fundamentals or an experienced drummer looking to refine your skills, my comprehensive courses cater 
        to all levels. Dive into the dynamic beats of various styles including rock, jazz, funk, and more, as our 
        passionate instructors guide you through proper techniques and exercises to enhance your rhythm and coordination. 
        With personalized instruction tailored to your pace and goals, you'll unleash your inner groove and become a 
        confident, versatile drummer. Don't be "Dum", come learn how to Drum!</p>
    <br />
</div>
